@import "../../../../styles/variables";
@import "../../../../styles/colors";

.container {
  height: calc(100vh - 40px);
  // height: calc(100vh - #{$topbar-height});
  display: flex;

  .list {
    display: grid;
    grid-template-rows: auto auto 1fr;
    width: 80%;
    padding: 5px 10px;
    background-color: white;
    border-radius: $dashboard-container-border-radius;
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    .search_bar {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 5px;
      align-items: center;
      width: 400px;
      background-color: #f5f6fa;
      border-radius: 10px;
      padding: 10px;
    }

    .search_bar input {
      border: none;
      background-color: #f5f6fa;
    }

    .search_bar input:focus {
      outline: none;
    }
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

    .navigation {
      display: grid;
      grid-template-columns: auto auto auto auto 1fr;
      grid-gap: 20px;
    }

    .create_project {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 10px;
    }

    .filter_item {
      padding: 0px 5px;
      min-width: 90px;
      text-align: center;
    }

    .filter_item_input {
      visibility: hidden;
      position: absolute;
    }

    .filter_item_text {
      color: #7c8397;
      font-size: 1rem;
    }

    .filter_item_input#ongoing:checked ~ .controlme,
    .filter_item_input#past:checked ~ .controlme,
    .filter_item_input#archived:checked ~ .controlme,
    .filter_item_input#all:checked ~ .controlme {
      background-color: $filter-nav-color;
      height: 2px;
      width: 100%;
      display: block;
      margin-top: 10px;
    }

    .filter_item_input#ongoing:checked ~ .filter_item_text,
    .filter_item_input#past:checked ~ .filter_item_text,
    .filter_item_input#archived:checked ~ .filter_item_text,
    .filter_item_input#all:checked ~ .filter_item_text {
      color: #000022;
    }

    span {
      cursor: pointer;
    }
  }
}
