@import "../../styles/variables";
@import "../../styles/colors";

.popup {
  background-color: $popup-color;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: $sidebar-width;
  z-index: 1000;
  transition: 500ms !important;
  visibility: hidden;
  opacity: 0;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.popup_animation {
    animation: PopUpAnimate 0.2s;;
}

@keyframes PopUpAnimate {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: $lg-screen) {
    .popup {
        left: $sidebar-sm-laptop;
    } 
}

@media screen and (max-width: $tablet-width) {
  .popup {
    left: 90px;
    width: 100%;
  }
}

@media screen and (max-width: $mobile-large) {
  .popup {
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
