$sidebar-width: 250px;
$sidebar-width-sm: 90px;
$topbar-height: 97px;
$tablet-width: 810px;
$mobile-large: 600px;
$mobile-medium: 375px;
$mobile-small: 320px;
$input-tag-border-radius: 10px;
$dashboard-container-border-radius: 18px;
