$sidebar-width: 255px;
$sidebar-sm-laptop: 200px;
$sidebar-tablet-width: 140px;
$sidebar-width-sm: 90px;
$sidebar-height-sm: 60px;
$topbar-height: 90px;
$tablet-width: 768px;
$mobile-large: 640px;
$mobile-medium: 375px;
$mobile-small: 320px;
$input-tag-border-radius: 10px;
$dashboard-container-border-radius: 18px;

//Media query breakpoints
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screes: 1536px;
