@import "../../../../styles/colors";
@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: $secondary-color;
  border-radius: $dashboard-container-border-radius;
  display: flex;
  .complaint_svg {
    width: 50%;
    padding: 30px;
    @include FlexCenter();
    img {
      width: 100%;
    }
  }
  .form_container {
    margin: 40px;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 7px 31px rgba(0, 0, 0, 0.15);
    border-radius: $dashboard-container-border-radius;

    .form_recipient,
    .description,
    .title,
    .submit_button {
      width: 100%;
    }
    span {
      color: red;
    }
    p {
      margin-top: 2px;
      margin-bottom: 20px;
      font-size: 0.9rem;
      color: $secondary-font-color;
    }
    label {
      font-size: 1.2rem;
      font-weight: 500;
    }
    label,
    input {
      display: block;
    }
    select {
      margin-top: 5px;
      margin-bottom: 20px;
    }
    textarea,
    input {
      margin-top: 5px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: 1px solid black;
      font-size: 1.1em;
      font-weight: 400;
    }
    #recipient {
      padding: 5px;
      border-radius: 10px;
      background-color: transparent;
      outline: none;
    }
    .submit_button {
      @include FlexCenter();
      justify-content: center;
      button {
        padding: 10px 15px;
        background-color: $primary-color;
        border-radius: 5px;
        color: $secondary-color;
        font-size: 1.1em;

      }
    }
  }
}
