@import "../../../../../../styles/variables";
@import "../../../../../../styles/colors";

.container {
  height: calc(100vh - #{$topbar-height} - 35px);
  background-color: white;
  border-radius: $dashboard-container-border-radius;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;

  .container_overlay {
    height: 95%;
    width: 96%;
    position: absolute;
    cursor: pointer;
    z-index: 40;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter_wrapper {
      position: relative;
      .current_filter {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 10px;
        padding: 10px;
        background-color: $input-tag-color;
        cursor: pointer;
        border-radius: 7px;
      }
      .filter_options {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: white;
        grid-template-rows: 1fr 1fr;
        margin-top: 10px;
        position: absolute;
        z-index: 41;
        width: 100%;
        border-radius: $input-tag-border-radius;
        padding-top: 10px;
        padding-bottom: 10px;

        p {
          padding: 10px;
          cursor: pointer;
          transition: 200ms;
        }

        p:hover {
          background-color: $input-tag-color;
        }
      }
    }
  }

  .bills {
    width: 100%;
    height: 100%;
    position: relative;

    .list {
      width: 100%;
      height: 100%;
      position: absolute;
      width: 110%;
      overflow: auto;
      padding-right: 9%;

      .bill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-right: 10px;
        border-radius: $input-tag-border-radius;
        background-color: $input-tag-color;
        margin-top: 10px;

        .bill_button {
          display: grid;
          grid-template-columns: 130px 130px 130px;
          grid-gap: 10px;

          #view,
          #approve,
          #reject {
            padding: 10px 30px;
            border-radius: $input-tag-border-radius;
            color: white;
            font-family: inherit;
            font-size: 1rem;
          }

          #view {
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }

          #approve {
            background-color: #1fb185;
          }

          #approved {
            padding: 10px 30px;
            border-radius: $input-tag-border-radius;
            font-family: inherit;
            font-size: 1rem;
            color: #1fb185;
            background: rgba(31, 177, 133, 0.15);
          }

          #reject {
            background-color: #e12929;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1490px) {
  .container {
    .title {
      h1 {
        font-size: 1.6rem;
      }

      .filter_wrapper {
        .current_filter {
          font-size: 0.9rem;
        }

        .filter_options {
          font-size: 0.9rem;
        }
      }
    }

    .bills {
      .list {
        .bill {
          .bill_info {
            h2 {
              font-size: 1.3rem;
            }
          }
          .bill_button {
            grid-template-columns: 80px 80px 80px;
            #view,
            #approve,
            #reject {
              padding: 10px 10px;
              font-size: 0.9rem;
            }

            #approved {
              padding: 10px 10px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
}

@media screen and (max-width: $mobile-large) {
  .container {
    .bills {
      .list {
        padding-bottom: $sidebar-width-sm;
        .bill {
          flex-direction: column;
          .bill_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            h2 {
              font-size: 1.3rem;
            }
            margin-bottom: 15px;
          }
          .bill_button {
            display: grid;
            justify-content: start;
            width: 100%;
            #view,
            #approve,
            #reject {
              padding: 10px 10px;
              font-size: 0.9rem;
            }

            #approved {
              padding: 10px 10px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
