@import "../../styles/variables";
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.financials {
  flex: 2;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
  grid-template-rows: repeat(auto-fit, minmax(50px, 80px));
  .financials_data {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffff;
    h3 {
      font-size: 0.5em;
    }
    p {
      font-size: 0.7em;
    }
  }
}
@media screen and (min-width: 1500px) {
  .financials {
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 120px));
  }
}
@media screen and (max-width: $md-screen) {
    .financials {
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
        grid-template-rows: repeat(auto-fit, minmax(70px, 0px));
  }
}
