@import "/src//styles/variables";
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: #ffff;
  border-radius: 18px;
  > div:first-child {
    grid-column: 1/4;
  }
}
.task_table {
  overflow: hidden;
}

@media screen and (min-width: 1500px) {
  .container {
    grid-template-rows: 1.5fr 1fr;
  }
}

@media screen and (max-width: $sm-screen) {
  .container {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: none;

    > div:first-child {
      grid-column: 1;
    }
  }
  .task_table {
    height: 300px;
  }
  .financials{
    height: 200px;
  }
}
