@import "../../styles/colors";
@import "../../styles/variables";
@mixin FlexCenter($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}
.container {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto 1fr auto auto;
  grid-gap: 20px;
  background-color: $primary-color;
  width: $sidebar-width;
  padding: 20px 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  .logo {
    @include FlexCenter(column);
    img {
      max-width: 100px;
    }
    h1 {
      color: #ffff;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
  .items,
  .item_setting {
    margin: 10px 0 0 20px;
    height: fit-content;

    a[aria-current="page"] .items_each {
      color: $primary-color;
      background-color: $secondary-color;
    }
    .items_each {
      margin: 0 0 10px 0;
      @include FlexCenter();
      padding: 10px;
      color: $secondary-color;
      font-size: 1.2em;
      border-radius: 15px 0 0 15px;
      transition: all 0.2s ease-in-out;
      svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      p {
        font-size: 1em;
        font-weight: 400;
      }
      p::first-letter {
        text-transform: capitalize;
      }
      // &:hover {
      //   background-color: $secondary-color;
      //   box-shadow: 0px 0px 1px 1px white;

      //   color: $primary-color;
      // }
    }
  }

  .hive_svg img {
    margin: 10px 0;
    width: 220px;
  }
}

@media screen and (max-width: $tablet-width) {
  .container {
    @include FlexCenter(column);
    justify-content: space-between;
    width: 90px;
    .logo {
      padding: 20px;
      img {
        width: 100%;
      }
      h1 {
        font-size: 0.9em;
      }
    }
    .items,
    .item_setting {
      margin: 0;
      .items_each {
        width: fit-content;
        border-radius: 15px;
        margin-bottom: 5px;
        svg {
          margin-right: 0;
        }
        p {
          display: none;
        }
      }
    }
    .hive_svg {
      display: none;
    }
  }
}
@media screen and (max-width: $mobile-large) {
  .container {
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: 100%;
    padding: 10px 20px;
    @include FlexCenter(row);
    justify-content: space-evenly;

    .logo {
      display: none;
    }
    .items {
      width: 100%;
      justify-content: space-between;
    }
    .items,
    .item_setting {
      @include FlexCenter(row);

      a[aria-current="page"] .items_each {
        transform: scale(1.2);
      }
      .items_each {
        height: fit-content;
        width: fit-content;
        margin: 0 5px;
        @include FlexCenter(column);
        svg {
          width: 25px;
          height: 25px;
          margin-right: 0px;
        }
      }
    }
  }
}
