@import "../../styles/colors";
@import "../../styles/mixins";
.container {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  table {
    width: 100%;
    border-spacing: 0;

    thead {
      background: #ffff;
      position: sticky;
      top: 0;
      width: 100%;
      border-radius: 5px;
      color: $secondary-font-color;
      td {
        background-color: rgba(125, 194, 175, 0.1);

        padding: 5px 10px;
        font-size: 0.6em;
        font-weight: 500;
        border-radius: 5px;
        margin: 0;
        border: none;
      }
    }

    tbody {
      td {
        padding: 10px;
        font-size: 0.55em;
        font-weight: 400;
        border-bottom: 1px solid #d2d2d2;
      }
      .status_menus {
        float: right;
        width: fit-content;
        display: flex;
        // justify-content: space-evenly;
      }
      .status {
        margin-left: 10px;
        width: fit-content;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        &::first-letter{
          text-transform: capitalize
        }
      }
      
      #completed {
        color: rgba(125, 194, 173, 1);
        background-color: rgba(32, 148, 113, 0.1);
      }

      #pending {
        color: #414263;
        background-color: rgba(87, 89, 116, 0.2);
      }

      #ongoing {
        color: #5961f9;
        background-color: rgba(89, 97, 249, 0.2);
      }

      #haulted {
        color: #fa7254;
        background-color: rgba(250, 114, 84, 0.2);
      }

      #delayed {
        color: #fa7254;
        background-color: rgba(250, 115, 85, 0.35);
      }
    }
  }
}

.activity_name {
  @include FlexCenter();
  align-items: center;
  .icon {
    @include FlexCenter();
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 5px;
    margin-right: 5px;
  }
}
