@import "../../styles/variables";
.container {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  .rectangles {
    position: absolute;
    right: -70px;
    height: 100%;
    // transform: scale(1.1);
  }
}

@media screen and (max-width: $md-screen) {
  .container {
    border-radius: 10px;
  }
}
